.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 80px;
}

#my-logo-home {
    height: 150px;
    width: auto;
    border-radius: 50px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 25px;
    gap: 80px;
    color:rgb(138, 99, 248)
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(267deg, rgb(38, 45, 177), rgb(149, 45, 235));
    transition: 0.5s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.underlined {
    text-decoration: underline;
    color: rgb(180, 155, 234);
}

.nav-link-anchor {
    text-decoration: none;
    color: inherit;
}

.navbar img {
    height: 50px;
    width: auto;
    background-color: white;
}

.nav-mob-close, .nav-mob-open {
    display: none;
}

@media(max-width:768px) {
    .navbar{
        margin: 20px 50px;
    }

    .nav-connect{
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: rgb(237, 237, 237);
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px
    }
}
